@model User

<div class="container">
    <div class="row">
        <h1>LogIn</h1>
        <form method="post" enctype="multipart/form-data">
            <div>
                <div class="col-6">
                    <label asp-for="Email" class="ms-1 my-1 text-dark"></label>
                    <input asp-for="Email" class="form-control border-0 shadow" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Password" class="ms-1 my-1 text-dark"></label>
                    <input asp-for="Password" class="form-control border-0 shadow" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-success">LogIn</button>
            </div>
        </form>
    </div>
</div>
