@model User

<div class="container-fluid">
    <div class="row col-6 col-lg-6">
        <div class="col-6 pb-2">
            @Model.FirstName
        </div>
        <div class="col-6 pb-2">
            @Model.LastName
        </div>
        <div class="col-6 pb-2">
            @Model.UserId
        </div>
    </div>
</div>