
<h1>Заказы</h1>
<button onclick="goToReview()" class="btn btn-warning mb-1 mx-1">Мои отзывы</button>
<div class="container mb-5">
    <div class="row" id="orders">
    </div>
</div>


@section Scripts{
    <script src="/js/Customer/Order.js"></script>
    <script src="/js/Customer/Review.js"></script>
}

