<div class="container">
    <div>
        <h3>Пункт выдачи</h3>
    </div>
    <div>
        <input id="" class="form-control me-sm-1 bg-light" type="search" value="" name="searchOrderId" placeholder="Введите номер заказа">
        <button onclick="findOrder()" class="btn btn-dark my-4 my-sm-0 bi bi-search"></button>
    </div>
    <div id="orderData"> 

    </div>
</div>






@section Scripts{
    <script src="~/js/WorkerOrderPickUp/OrderPickUp.js"></script>
    }


