<div class="container">
    <div>
        <h3>Пункт выдачи</h3>
    </div>
    <div>
        <script>
            function handleKeyDown(event) {
                if (event.key === "Enter") {
                    findOrder();
                }
            }
        </script>
        <div class="d-flex">
            <input id="orderSearchString" class="form-control me-sm-1 bg-light col-10" type="search" value="" name="searchOrderId" placeholder="Введите номер заказа" onkeydown="handleKeyDown(event)">
            <button onclick="findOrder()" class="btn btn-dark my-4 my-sm-0 bi bi-search"></button>
        </div>
    </div>
    <div id="orderData">
    </div>
</div>





@section Scripts{
    <script src="~/js/PickUp/OrderPickUp.js"></script>
    }


