<div>
    <h3>Данные по сотрудникам</h3>
    <table id="dataWorker" class="table table-striped">
        <thead>
            <tr>
                <th>ID сотрудника</th>
                <th>Офис</th>
                <th>Позиция</th>
                <th>Рейтинг</th>
                <th>Отзывы</th>
            </tr>
        </thead>
        <tbody>           
        </tbody>
    </table>  
</div>

@section Scripts{
    <script src="/js/Analytics/Worker.js"></script>
}