@model PurchaseRequest


<div class="container">
    <h1>Заявка на закупку</h1>
    <form>
        <div class="form-group">
            <label for="inputId">ID:</label>
            <input type="text" class="form-control" id="inputId" placeholder="Введите ID">
        </div>
        <div class="form-group">
            <label for="inputQuantity">Количество:</label>
            <input type="number" class="form-control" id="inputQuantity" placeholder="Введите количество">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
