@model StockVM


<h2>Склад</h2>

<div class="container">
    <div class="col-2 pb-5 mt-2 pt-3">
        <button id="openSearch" class="btn btn-success btn-outline-warning border-0 form-control">Новое поступление</button>
    </div>


    <div class="hidden">
        <form id="myForm" class="d-flex" method="post" asp-area="Stockkeeper" asp-controller="Stock" asp-action="GetProductAsync">
            <input id="searchTitle" class="form-control me-sm-1 bg-light" type="search" name="nameProduct" placeholder="Поиск по названию">
            <input id="searchId" class="form-control me-sm-1 bg-light" type="search" name="productId" placeholder="Поиск по Id">
            <button id="searchButton" class="btn btn-dark my-4 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>

    
    <div id="result">
        <div class="row border border-1 rounded rounded-1 mt-1">
        @if (Model.Books != null)
        {            
            foreach (var book in Model.Books)
            {
                <p>@book.Title - @book.Author</p>
            }
        }
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/js/AddProductToStore.js"></script>
}
















@*<form class="d-flex" method="post" asp-area="Customer" asp-controller="Home" asp-action="Search">
    <input class="form-control me-sm-1 bg-light" type="search" name="searchString" placeholder="Поиск по названию">
    <input class="form-control me-sm-1 bg-light" type="search" name="searchString" placeholder="Поиск по Id">
    <a asp-for="@Model" hidden></a>
    <button class="btn btn-dark my-4 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
</form>
<div id="hide" class="mt-1">
    <button class="btn btn-secondary">Скрыть</button>
</div>*@
@*
<div class="visible">
    @if (Model.Books.Any())
    {
        string isHidden = "visible";
    }
    else
    {
        string isHidden = "hidden";
    }
</div>*@