@model Stock

<h2>Склад @Model.City, @Model.Street</h2>

<div class="container">
    <div class="col-2 pb-5 mt-2 pt-3">
        <button id="openSearch" onclick="enterIdProduct('/Stockkeeper/Stock/AddProductInStock?')" class="btn btn-success border-0 form-control">Новое поступление</button>
    </div>

    <div class="row border border-1 rounded rounded-1 mt-1">

        <table id="stock" class="table table-bordered table-striped pt-3 pb-3 my-1">
            <thead class="pt-4 pb-4 table-gray">
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Количество</th>
                    <th>Номер полки</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Store.js"></script>
}
