@model Book

<form method="post">
<div class="container align-content-center justify-content-center align-items-center m-4 mt-5">
    <div class="row mx-auto">
        <div class="form-floating py-2 col-5 mt-xxl-4">
            <input asp-for="Title" class="form-control border-0 shadow" />
            <label asp-for="Title" class="ms-1 my-1 text-dark"></label>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-5 mt-xxl-4">
            <input asp-for="Author" class="form-control border-0 shadow" />
            <label asp-for="Author" class="ms-1 my-1 text-dark"></label>
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="text-center">
            <div class="col text-center">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
        </div>
    </div>
</div>
</form>