<div>
    <h3>Данные по сотрудникам</h3>
    <table id="deliveryWorker" class="table table-striped">
        <thead>
            <tr>
                <th>ID Заказа</th>
                <th>Оценка</th>
                <th>Дата и время отправки</th>
                <th>Дата и время получения</th>
                <th>История перемещения</th>
                <th>Отзывы</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/Analytics/Delivery.js"></script>
}