@model Order


<div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
        <h1 class="text-center">Payment</h1>
        <form method="post" enctype="multipart/form-data asp-area="Purchase" asp-controller="Payment">
            
            <input asp-for="UserId" hidden />
            <input asp-for="PurchaseAmount" hidden />
            <input asp-for="ReceiverName" hidden />
            <input asp-for="RecipientsLastName" hidden />
            <input asp-for="PhoneNumber" hidden />
            <input asp-for="isCourierDelivery" hidden />
            <input asp-for="City" hidden />
            <input asp-for="Street" hidden />
            <input asp-for="HouseNumber" hidden />

            <div class="form-group">
                <label for="cardNumber">Номер карты</label>
                <input type="number" class="form-control" id="cardNumber" name="CardNumber" required>
            </div>
            <div class="form-group">
                <label for="expirationDate">Срок действия</label>
                <input type="month" class="form-control" id="expirationDate" name="ExpirationDate" required>
            </div>
            <div class="form-group">
                <label for="cvv">CVV</label>
                <input type="number" class="form-control" id="cvv" name="CVV" required>
            </div>
            <button type="submit" asp-action="FundsVerification" class="btn btn-primary w-100 mt-3">Оплатить</button>
        </form>
    </div>
</div>