
<div class="container-fluid mb-5 pb-5">
    <div><button onclick="hideAllNotifications()" class="btn btn-warning">Скрыть все уведомления</button></div>
    <div class="row col-12">
        <div id="notificationData"></div>
    </div>
</div>


@section Scripts{
    <script src="/js/Customer/Notification.js"></script>
}


