
<div class="container-fluid mb-5 pb-5">
    <div><button onclick="removeAllNotifications()" class="btn btn-warning">Очистить</button></div>
    <div class="row col-12">
        <div id="notificationData" class="align-content-center"></div>
    </div>
</div>


@section Scripts{
    <script src="/js/Customer/Notification.js"></script>
}


