@model IEnumerable<Notification>

<div class="container-fluid">
    <div class="row">
        <div>
            @foreach(var notification in Model)
            {
                <div class="form-group border border-1 rounded rounded-1 p-4">
                    <div class="d-inline-flex align-items-center">
                        @notification.Text;
                    </div>
                </div>
            }
        </div>
    </div>
</div> 