@model User

<div class="container-fluid mt-5">
    <form method="post">
        <input asp-for="UserId" hidden />
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <div class="card-body pb-0">
                        <h4>Персональная информация</h4>
                        <hr />
                    </div>
                    <div class="card-body pb-0 pt-0 mt-0 mb-0">
                        <h8>Фамилия</h8>
                        <input asp-for="LastName" class="form-control border-0 shadow" />
                        <label asp-for="LastName" class="ms-1 my-1 text-dark"></label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="card-body pb-0 pt-0 mt-0 mb-0">
                        <h8>Имя</h8>
                        <input asp-for="FirstName" class="form-control border-0 shadow" />
                        <label asp-for="FirstName" class="ms-1 my-1 text-dark"></label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="card-body pb-0 pt-0 mt-0 mb-0">
                        <h8>День рождения</h8>
                        <input asp-for="DateofBirth" class="form-control border-0 shadow" />
                        <label asp-for="DateofBirth" class="ms-1 my-1 text-dark"></label>
                        <span asp-validation-for="DateofBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <div class="card-body pb-0">
                        <h4>Данные для входа</h4>
                        <hr />
                    </div>
                    <div class="card-body pb-0 pt-0 mt-0 mb-0">
                        <h8>Электронная почта</h8>
                        <input asp-for="Email" class="form-control border-0 shadow" />
                        <label asp-for="Email" class="ms-1 my-1 text-dark"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="card-body pb-0 pt-0 mt-0 mb-0">
                        <h8>Телефонный номер</h8>
                        <input asp-for="PhoneNumber" class="form-control border-0 shadow" />
                        <label asp-for="PhoneNumber" class="ms-1 my-1 text-dark"></label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="card-body pb-0 pt-0 mt-0 mb-0">
                        <h8>Личный счет</h8>
                        <input asp-for="PersonalWallet" disabled class="form-control border-0 shadow" />
                        <label asp-for="PersonalWallet" class="ms-1 my-1 text-dark"></label>
                        <span asp-validation-for="PersonalWallet" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-warning">Сохранить изменения</button>
        </div>
        <div class="mt-2">
            <button asp-area="Identity" asp-controller="User" asp-action="GoOut" class="btn btn-dark">Выйти с аккаунта</button>
        </div>
    </form>
</div>

                        