@model StockVM

<h2>
    Склад
    @if (Model.Office != null)
    {
        <a>@Model.Office.City,@Model.Office.Street</a>
    }
</h2>

<div class="container mb-5">
    <div class="row">
        <div class="col-2 mb-3 mt-2 pt-3">
            <button id="purchaseRequestSend" onclick="addProductInStock('/Stockkeeper/Stock/AddProductInStock?')" class="btn btn-success border-0 form-control">Новое поступление</button>
        </div>
        <div class="col-8"></div>
        <div class="col-2 pb-4 mb-3 mt-2 pt-3 text-right">
            <a asp-area="Stockkeeper" asp-controller="Stock" asp-action="PurchaseRequest" class="btn btn-success border-0 form-control">Заказать товар</a>
        </div>
    </div>
    <div class="row border border-2 rounded rounded-2 mt-1 p-2">
        <table id="stock" class="table table-bordered table-striped pt-3 my-1">
            <thead class="pt-4 table-dark">
                <tr>
                    <th>Id Записи</th>
                    <th>Id Товара</th>
                    <th>Время</th>
                    <th>Тип</th>
                    <th>Название</th>
                    <th>Количество</th>
                    <th>Номер полки</th>
                    <th>Изменить</th>
                    <th>Заказать</th>
                    <th>Всего</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



@section Scripts {
    <script src="~/js/Stock/MainController.js"></script>
}


