

<div class="container">
    <div id="productData">

    </div>
</div>

@section Scripts{
    <script src="~/js/Customer/ShoppingBasket.js"></script>
    <script src="~/js/Customer/WishList.js"></script>
    <script src="~/js/Customer/Details.js"></script>
                    }