<div class="py-5 style=" width: 100%; height: 100%"">
    <div class="mt-0 pt-0 mb-5 pb-5">
        <div id="productCards" class="row justify-content-center">
        </div>

        <hr />
        <div id="numberPages"></div>
    </div>
</div>


@section Scripts{
    <script src="~/js/Customer/Home.js"></script>
}





