<div class="mb-5 pb-5">
    <div id="productCards" class="row mb-1">       
    </div>
    <hr />
    <div id="numberPages"></div>
</div>





@section Scripts{

    <script src="~/js/Customer/Home.js"></script>

    @if ((User.Identity.IsAuthenticated != null))
    {
        <script src="~/js/Customer/ShoppingBasket.js"></script>
        <script src="~/js/Customer/WishList.js"></script>
    }
}






