
<div class="container mb-5">
    <div class="row">
        <h1>Работники</h1>
        <table id="tableWorker" class="display table table-bordered border border-0 rounded rounded-2 table-striped pt-3 my-1">
            <thead class="pt-4 table-dark">
                <tr>
                    <th>WorkerId</th>
                    <th>UserId</th>
                    <th>Статус</th>
                    <th>Место работы</th>
                    <th>Роли</th>
                    <th>Номер приема</th>
                    <th>Номер увольнения</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/HR/WorkerHandler.js"></script>
}

