
<div>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div id="shoppingBasket">
                </div>
            </div>
            <div class="col-2">
                <div class="col-12">
                    <div id="orderingInformation">
                    </div>
                    <div id="checkout">
                    </div>
                    <div id="isSave"><button onclick="confirmChangeCount(event)" type="submit" class="mt-2 btn btn-success bi bi-floppy">Сохранить изменения</button></div>
                    <div id="boxSelect">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    input[type='number'] {
        -moz-appearance: textfield;     
        appearance: textfield; 
    }
</style>

@section Scripts{
    <script src="~/js/Customer/WishList.js"></script>
    <script src="~/js/Customer/ShoppingBasket.js"></script>
}


