<div>
    <h3>Данные по Пунктам выдачи</h3>
    <table id="pickUpDataTable" class="table table-striped">
        <thead>
            <tr>
                <th>ID Заказа</th>
                <th>Оценка</th>
                <th>Отзывы</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/Analytics/PuckUp.js"></script>
}